<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat With Me! </title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">

    <script src="/js/index.js"></script>
</head>
<body>
    <div class="centerdiv">
        <div class="generator">
            <center>
                <h1 class="title">URL generator</h1>
                <input value="<%= url %>" id="url" type="text" class="url" disabled placeholder="Click Below to Generate link!">
                <button id="generateUrl" onclick="loadurl()" class="generate">Initial Chat</button>
                <!-- <button id="openbtn" onclick="gotourl()" class="generate" style="background: #29a79e;display: none;">Open</button> -->
            </center>
        </div>
    </div>
</body>
</html>





