body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html, body {
  width: 100%;
  height: 100%;
}

html input, body input {
  color: black;
}

html *, body * {
  color: black;
}

html .header, body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3E4489;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

html .header .title, body .header .title {
  font-weight: 400;
  color: white;
}

html .header .center, body .header .center {
  width: 50%;
}

html .header .center input, body .header .center input {
  width: 100%;
  border: none;
  padding: 5px 20px;
  text-align: center;
  background: white;
  color: black;
  border: solid 1px white;
  border-radius: 10px;
}

html .header .right, body .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .header .right .account, body .header .right .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .header .right .account p, body .header .right .account p {
  margin-left: 10px;
  font-size: 18px;
  color: white;
}

html .setup, body .setup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .setup .username, body .setup .username {
  width: 250px;
  border-radius: 20px;
  background: white;
  color: black;
  border: solid 1px black;
  padding: 5px 10px;
}

html .setup .submit, body .setup .submit {
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  background-color: #3e4489;
  border-radius: 20px;
  width: 150px;
}

html .setup .submit:hover, body .setup .submit:hover {
  background: #6c78ff;
  -webkit-box-shadow: 0 3px 6px #0000005e;
          box-shadow: 0 3px 6px #0000005e;
}

html .setup .userpic, body .setup .userpic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .setup .userpic .user, body .setup .userpic .user {
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

html .setup .userpic .selected, body .setup .userpic .selected {
  border: solid 5px #ff7f7f;
  border-radius: 50%;
}

.spinner {
  display: none;
}

.maindiv {
  margin: 20px 0px;
  height: 70%;
  width: 100%;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.maindiv .calldiv {
  width: 60%;
}

.chatdiv {
  position: fixed;
  -webkit-box-shadow: 0 3px 6px #0000004a;
          box-shadow: 0 3px 6px #0000004a;
  bottom: 0;
  right: 10px;
  width: 300px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatdiv .chat_header {
  cursor: pointer;
  background: #9a9a9a54;
  border: solid 1px gray;
}

.chatdiv .chat_header * {
  color: black;
  font-size: 12px;
}

.chatdiv .chat_header .user_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.chatdiv .chat-sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chatdiv .chat-sent #sent_msg {
  background: white;
  border: solid 1px black;
  width: 100%;
  padding: 5px;
}

.chatdiv .chat-sent #sendbtn {
  background: #ffd04c;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.chatdiv .chat {
  border: solid 1px gray;
  height: 100%;
  overflow: auto;
}

.chatdiv .chat img {
  width: 25px;
}

.chatdiv .chat * {
  color: black;
}

.chatdiv .chat .from {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.chatdiv .chat .from .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.chatdiv .chat .from .div1 .time {
  font-size: 10px;
}

.chatdiv .chat .from .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatdiv .chat .from .div2 .name {
  font-size: 15px;
  font-weight: 600;
}

.chatdiv .chat .from .div2 .msg {
  font-size: 12px;
}

.chatdiv .chat .to {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.chatdiv .chat .to .div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.chatdiv .chat .to .div1 .time {
  font-size: 10px;
}

.chatdiv .chat .to .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatdiv .chat .to .div2 .name {
  font-size: 15px;
  font-weight: 600;
}

.chatdiv .chat .to .div2 .msg {
  font-size: 12px;
}
/*# sourceMappingURL=chat.css.map */